<div class="animate__animated animate__fadeIn">
  <h2>
    Buscar por región <small>{{ regionActiva | titlecase }}</small>
  </h2>
  <hr />
  <h5>Seleccione la región</h5>
  <div class="row">
    <div class="col">
      <!-- [class.btn-primary]="region === regionActiva" -->
      <!-- [ngClass]="{
          'btn-primary': region === regionActiva,
          'btn-outline-primary': region !== regionActiva
        }" -->
      <button
        *ngFor="let region of regiones"
        class="btn ms-2"
        [class]="getClaseCss(region)"
        (click)="activarRegion(region)"
      >
        {{ region | titlecase }}
      </button>
    </div>
  </div>
  <hr />
</div>
<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"> </app-pais-tabla>
  </div>
</div>
